@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Yantramanav:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.signUp{
    font-family: Righteous;
}
.subHeading{
    font-family: 'Yantramanav', sans-serif;
    font-size: 40px;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: sans-serif;
    transition: all 0.3s ease;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    padding: 0px 0px 0px 40px;
    position: absolute;
    left: 0;
    font-size: 40px;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease;
}
.navbar .logo{
    padding-top: 14px;
    padding-left: 30px;
    font-family: Righteous;
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    color: white;
    font-size: 24px;
    font-family: 'Yantramanav';
    font: bold;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* hover effect */
.menu .logo a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .menu .logo a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .menu .logo a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(179, 7, 42);
    z-index: -1;
    transition: transform .3s ease;
  }
.menu li a:hover{
    color: rgb(59, 165, 226);
}
.navbar.sticky .menu li a:hover{
    color: rgb(59, 165, 226);
}
.menu {
    position: relative;
}
.menu .set {
    position: absolute;
    right: 0;
    margin: 28px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

/* Des */
.display {
    padding: 140px 0px 0px 0px;
    position: relative;
}
video {
    display: block;
    filter: brightness(50%);
}
.des {
position: absolute; bottom: 0; left: 0;
display: flex;
flex-direction: column;
width: 100%;
font-family: 'Bebas Neue', cursive;
padding: 650px 0px 30px 40px;
}
.des h1 {
    color: white;
    text-shadow:
      0 0 5px black,
      0 0 10px white,
      0 0 20px beige,
      0 0 40px white,
      0 0 80px white,
      0 0 90px white,
      0 0 100px black,
      0 0 150px black;
}
.des a {
    background-color:white ;
    width: 150px;
    height: 50px;
    padding: 5px 10px 15px 12px;
    font-size:30px;
    border-radius: 3px;
  transition: .3s;
}
.des a:hover {
    box-shadow: 8px 8px rgb(214, 212, 212)
}
video::-webkit-media-controls{
    display: none;
    -webkit-appearance: none;
}

/* Bottom Bg */
.botBg {
background-color: rgb(27, 26, 26);
color: white;
font-family: 'DM Sans', sans-serif;
/* height: 200vh; */
}
.botBg h1 {
    font-size: 50px;
    margin-left: 25px;
    padding: 20px 0px 0px 0px;
}

/* card holder */
.cardHolder{
    /* height: 400px; */
    display: flex;
    padding: 25px; 
} 
.cardHolder img {
    margin: 15px 15px 15px 15px;
    height: 20em;
    width: 15em;
    /* border: 1px solid white; */
}
.cardHolder img:hover{
    border: 5px solid rgb(27, 26, 26);
}
.cardHolder a {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.cardHolder p {
    font-size: 28px;
    text-align: center;
}
/* footer */
footer {
    font-family: 'Bebas Neue', cursive;
}
footer span {
    font-family: 'DM Sans', sans-serif;
}