* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}
.left {
    width: 60%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url() no-repeat center;
}