@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Yantramanav:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgba(255, 255, 255, 0.952);
}
.left {
width: 60%;
background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://i.gifer.com/1zes.gif) no-repeat center;
display: flex;
justify-content: center;
align-items: center;
font-family: righteous;
border-right: 10px solid black;
flex-direction: column;
}
.left h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.right {
width: 40%;
height: 100vh;
font-family: 'DM Sans', sans-serif;
}
.subText {
    font-family: 'Bebas Neue', cursive;
}
h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
input {
width: 18rem;
height: 44px;
padding-left: 20px;
margin-bottom: 30px;
margin-left: 30px;
border-radius: 10px;
color:black;
font-size: 15px;
border: 2px solid black;
}
input:hover {
  border: 2px solid;
  border-color: rgb(29 78 216);
}
/* sign up btn */
.signUpbtn {
  margin: 20px 0px 20px 116px;
  transition: .3s;
}
.signUpbtn:hover {
  box-shadow: 8px 8px #99bdff;
  transition: .3s;
}

/* divider */
#or {
    position: relative;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 27px;
  }
  #or::before,
  #or::after {
    position: absolute;
    width: 130px;
    height: 1px;
    top: 24px;
    background-color: #aaa;
    content: '';
  }
  #or::before {
    left: 0;
  }
  
  #or::after {
    right: 0;
  }
/* googleButton */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  }
  .login-with-google-btn:hover {
    box-shadow: 8px 8px rgb(214, 212, 212)
  }

  /* testing */
  

  
